<ion-content class="ion-padding plot-form">
  @if (loading === true) {
  <app-loading [tipoLoading]="tipoLoading"></app-loading>
  } @else {
  <ion-title class="ion-margin-top">{{ title }}</ion-title>
  <form [formGroup]="formNuevaParcela">
    <ion-list [inset]="true" mode="ios">
      <ion-item [class.invalid-input]="
            formNuevaParcela.get('nombre_parcela')?.invalid &&
            formNuevaParcela.get('nombre_parcela')?.touched
              ? 'invalid-input'
              : ''
          ">
        <ion-input label="Nombre" type="text" mode="ios" formControlName="nombre_parcela"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input label="Apodo" type="text" mode="ios" formControlName="apodo_parcela">
          <ion-button class="solo-icon" fill="clear" slot="end" (click)="openInfoAlert()">
            <ion-icon name="information-circle"></ion-icon>
          </ion-button>
        </ion-input>
      </ion-item>

      <ion-item [class.invalid-input]="
            formNuevaParcela.get('provincia')?.invalid &&
            formNuevaParcela.get('provincia')?.touched
              ? 'invalid-input'
              : ''
          ">
        <ion-input label="Provincia" type="text" mode="ios" formControlName="provincia"></ion-input>
      </ion-item>
      <ion-item [class.invalid-input]="
            formNuevaParcela.get('municipio')?.invalid &&
            formNuevaParcela.get('municipio')?.touched
              ? 'invalid-input'
              : ''
          ">
        <ion-input label="Municipio" type="text" mode="ios" formControlName="municipio"></ion-input>
      </ion-item>
      <ion-item [class.invalid-input]="
            formNuevaParcela.get('poligono')?.invalid &&
            formNuevaParcela.get('poligono')?.touched
              ? 'invalid-input'
              : ''
          ">
        <ion-input label="Polígono" type="text" mode="ios" formControlName="poligono"></ion-input>
      </ion-item>
      <ion-item [class.invalid-input]="
            formNuevaParcela.get('parcela')?.invalid &&
            formNuevaParcela.get('parcela')?.touched
              ? 'invalid-input'
              : ''
          ">
        <ion-input label="Parcela" type="text" mode="ios" formControlName="parcela"></ion-input>
      </ion-item>
      <ion-item [class.invalid-input]="
            formNuevaParcela.get('superficie_ha')?.invalid &&
            formNuevaParcela.get('superficie_ha')?.touched
              ? 'invalid-input'
              : ''
          ">
        <ion-input label="Superficie (ha)" type="text" mode="ios" formControlName="superficie_ha"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Referencia Catastral" type="text" mode="ios"
          formControlName="referencia_catastro"></ion-input>
      </ion-item>
      <ion-item>
        <ion-textarea label="Observaciones" mode="ios" rows="4" formControlName="observaciones"></ion-textarea>
      </ion-item>
    </ion-list>
  </form>

  @if (modo === 'add') {
    <ion-button class="sigpac-btn" id="sigpac-map-modal" expand="block" shape="round" mode="ios">
      <ion-icon slot="start" name="globe"></ion-icon>
      Importar datos desde SIGPAC
    </ion-button>
  }

  <ion-modal id="modal" trigger="sigpac-map-modal" mode="ios" backdropDismiss="false" class="ion-padding"
    (ionModalDidPresent)="initMap()">
    <ng-template>
      <ion-content class="modal-content">
        <ion-toolbar mode="ios">
          <ion-title class="ion-no-padding">Importar datos SIGPAC</ion-title>
        </ion-toolbar>
        <div id="mapDetail" style="height: 80%; width: 100%"></div>
        <div class="btn-div-modal">
          <ion-button class="confirm-btn" expand="block" shape="round" mode="ios" (click)="importSigpacData()">
            <ion-icon slot="start" name="checkmark-circle"></ion-icon>
            Guardar
          </ion-button>
          <ion-button class="cancel-btn" expand="block" shape="round" mode="ios" (click)="closeModalSigpac()">
            <ion-icon slot="start" name="close-circle"></ion-icon>
            Cancelar
          </ion-button>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button class="confirm-btn" expand="block" shape="round" mode="ios" (click)="onSubmit()">
          <ion-icon slot="start" name="checkmark-circle"></ion-icon>
          Guardar
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button class="cancel-btn" expand="block" shape="round" mode="ios" (click)="closeModalNewPlot()">
          <ion-icon slot="start" name="close-circle"></ion-icon>
          Cancelar
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  }

  <!-- <div class="form-group">
    <label class="custom-label">Ubicación de la Parcela</label>
    <div id="map" style="
        height: 300px;
        border-radius: 16px;
        border: 2px solid var(--ion-color-olive-main);
      "></div>
    <p class="ion-text-center text-accent" style="margin-top: 8px">
      Toca en el centro de tu parcela
    </p>
  </div> -->
</ion-content>