<ion-header id="3">
  <ion-toolbar mode="ios">
    <!-- <ion-buttons slot="start">
      <ion-button>
        <ion-avatar>
          <img [src]="userImageURL" />
        </ion-avatar>
      </ion-button>
    </ion-buttons> -->
    <ion-title>Perfil</ion-title>
    <!-- <ion-buttons slot="end">
      <ion-button (click)="openNewWorkModal()">
        <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card mode="ios">
    <ion-card-content>
      <ion-avatar>
        <img [src]="userImageURL" />
      </ion-avatar>
      <ion-label>Francisco</ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
