ion-toast.toast-error {
    --background: var(--ion-color-clay);
    --color: var(--ion-color-paper);
}

ion-toast.toast-success {
    --background: var(--ion-color-olive-main);
    --color: var(--ion-color-paper);
}