<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/profile" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Tipos de Trabajos</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="abrirModalCrear()">
        <ion-icon aria-hidden="true" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" [fullscreen]="true">
  <ion-refresher mode="md" slot="fixed" (ionRefresh)="obtenerTiposAccion('refresh', $event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  @if (_uiService.isLoading()) {
  <app-loading></app-loading>
  } @else {
  <ion-list mode="ios" [inset]="true">
    @for (tipo of tiposTrabajos; track tipo.id) {
    <ion-item button (click)="abrirModalEditar(tipo)" mode="ios" detail="false">
      <ion-icon name="hammer-outline" slot="start" class="item-icon-trabajos"></ion-icon>
      <ion-label>
        <h2>{{ tipo.nombre }}</h2>
        @if (tipo.descripcion) {
        <p>{{ tipo.descripcion }}</p>
        }
      </ion-label>
      <ion-icon name="create-outline" slot="end" color="medium"></ion-icon>
    </ion-item>
    } @empty {
    <div class="no-works">
      <ion-icon name="hammer-outline"></ion-icon>
      <p>No se registraron tipos de trabajos aún</p>
    </div>
    }
  </ion-list>
  }
</ion-content>